<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/app.css" />
</head>
<body>
    <h1>Welcome to Fit Hub App</h1>
    
    <nav>
        <a href="/workouts/new">Wanna Add a New Workout</a>
    </nav>
    <br/>
    <h3>Current Workouts Available</h3>
    <ul>
        <% for(let i=0; i<workouts.length; i++) { %>
            <li>
                <a href="/workouts/<%=workouts[i].id%>"><%=workouts[i].name%></a> 
            </li>
            <br/>
        <% } %>
    </ul>
</body>
</html>