<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>New Workout Page</h1>

    <form action="/workouts" method="POST">
        Name: <input type="text" name="name" />
        Description : <input type="text" name="description" />
        Link: <input type="text" name="link" />
        <input type="submit" value="Create Workout" />
    </form>
</body>
</html>