<!-- <!DOCTYPE html> -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
    <title>FitHub - Homepage</title>
    <style>
        body {
            background-image: url("https://images.unsplash.com/photo-1526506118085-60ce8714f8c5?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80");
            /* background-image: url("https://www.pixelstalk.net/wp-content/uploads/2016/06/Download-HD-Fitness-Backgrounds.jpg"); */
            background-size: cover;
            background-repeat:no-repeat;
            color: rgb(190, 255, 184);
            font-family: 'Architects Daughter', cursive;
            text-align: center;
        } 
        a {
            color: rgb(250, 250, 250);
            font-size: 25px;
        }
        h1 {
            font-size: 44px;
        }
        h3 {
            font-size: 30px;
        }
    </style>
</head>
<body class="indexUser">
    <br>
    <br>
    <h1>Welcome Fitness Enthusiasts. </h1>
    <h1>Let's Get Healthy Together!</h1><br>
    <h3>First Time Here? Click Below!</h3>
    <a href="/users/signup"><b>Sign Up</b></a><br><br>
    <h3>Already Have An Account?</h3>
    <h3>Click Below To Continue Your Fitness Journey</h3>
    <a href="/users/login"><b>Log In</b></a>
    
</body>
</html>